@mixin btn {
  color: white;
  font-size: 1rem;
  padding: 0.75rem;
  border: none;
  background-color: $primary;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.2s;
  font-family: $font;
  cursor: pointer;

  &:hover {
    background-color: $primary-hover;
  }

  &:active {
    background-color: $primary-active;
  }
}
